.filters-container {
  height: 40px;
  display: flex;
  align-items: center;
  a{
    margin-right: 10px;
  }
}
.filter-badge{
  background-color: $red;
  color:white;
}
.bold-title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  a {
    text-decoration: none;
  }
}
.category-name-small{
  color:grey;
  font-size: 10px;

}

.product-image {
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.grid-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.category-card-sidebar {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border:  solid #f2f2f2;
  //  border-collapse: separate;
  // border-spacing: 15px 50px;
    &:hover {
      box-shadow: 0px 1px 30px rgba(0,0,0,0.1);
    }
}

.category-name {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  color: black;
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}

.numeration-index{
  margin-top: 10px;
    font-size: 13px;
}


.button-all-products {
    background-color: $red;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: normal;
    width:100%;
}
.text-butt-allcatego{
    text-decoration: none;
    color: white;
}
.index_producer{
margin-top: 15px;

}

.vendor_name-index{
  background-color: #FB7813;
  text-decoration: none;
  color:black;


}
.price-product-index{
  font-size: 14px;
   text-decoration: none;
   color:black;
   font-style: bold;
}

