.filters-container {
  display: flex;
  align-items: center;
  a{
    margin-right: 10px;
  }
}

.filter-badge {
  background-color: $red;
  color:white;
}

.bold-title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  a {
    text-decoration: none;
  }
}

.product-image {
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
}

.category-card-sidebar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  transition-duration: 500ms;
}

.category-name {
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  color: black;
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}

.index_producer {
  margin-top: 50px;
}

.vendor-name-index p {
  text-decoration: none;
  color:black;
  border-bottom: 1px solid rgb(138, 138, 138);
  padding: 5px 0px;
  opacity:0.5 ;
  transition-duration: 500ms;
}

.vendor-name-index:hover {
  text-decoration: none;
  color: black;
}

.vendor-name-index p:hover {
  opacity: 1;
  color: $red;
  border-bottom: 1px solid $red;
}

.price-product-index{
  font-size: 14px;
   text-decoration: none;
   color:black;
   font-style: bold;
}

.location-input {
  width: 100%;
  position: relative
}

.search-input {
  width: 100%;
  position: relative;
  height: 30px;
}

.location-input::placeholder {
  color: rgba(0, 0, 0, 0.563);
}

.current-location {
  padding-left: 0px;
  &hover {
    color: $orange
  }
}

.index_location {
  margin-bottom: 35px;
  h4 {
    margin-bottom: 10px
  }
}

//--------------------cards

.product-info {
  padding: 4px
}

.name-rate-box {
  display: flex;
  position: relative
}

.rate-box {
  position: absolute;
  right: 0px
}

.price-unit-cat-box {
  display: flex;
}

.category-name-small {
  color: grey
}
