.user-sign-in-up-button input {
  background-color: #da4302;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 10px;
}

.sign-in-up-box{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


.wrapper-1-sign-in-up {
  flex-grow: 2;
  margin-right: 10px;
}

.wrapper-2-sign-in-up {

}
