.order-box {
  padding: 10px
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-right: 10px
}

.card-header {
  padding: 0px;
  border-radius: 4px;
}

.collapse {
  margin-left: 10px
}

.date-price-status-box {
  display:flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}

#dash-btn p{ 
  text-decoration: none;
  margin: 0px
}

.item-quantity-box p {
  margin: 0px
}
