.order-box {
  padding: 10px
}

.card-body {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-right: 10px
}

.card-header {
  padding: 0px;
  border-radius: 4px;
}

.collapse {
  margin-left: 10px
}

.btn p {
  text-decoration: none
}

.date-price-status-box {
  display:flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}

#dash-btn p{ 
  text-decoration: none;
  margin: 0px
}

.item-quantity-box p {
  margin-bottom: 0px
}

.tab-content {
  height: 70vh;
}

.nav {
  margin-top: 15px
}