
.info-container {
  width: 50%;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 500px;
}
.img-container {
  height: 500px;
  width: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
}

.more-products h1 {
  margin: 50px;
}

.grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 70px;
}

.product-container {
  display: flex;
  padding: 50px 0px;

}

.description-container {
  font-size: 22px;
  padding: 0px 10px;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  height: 170px;
}

.description-container::-webkit-scrollbar {
  width: 8px;
}

.description-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.description-container::-webkit-scrollbar-thumb {
  background-color:$red;
}
//------------------------------------------------------
.nav-tabs .nav-link.active {
  color: #da4302;
  border-top-color: #da4302;
  border-left-color: #da4302;
  border-right-color: #da4302;
  font-weight: bold;
}

.nav-tabs {
  border-color: #da4302;
}

.nav-tabs .nav-link {
  color: lightgray;
  font-weight: bold;
}


//---------------------------------------------------
.color-vendor {
  color: #da4302;

}

.price-container h5 {
  font-weight: bold;

}
.vendor-info h6 {
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;
  padding: 0px 15px 0px 0px;
}

.vendor-info h6::-webkit-scrollbar {
  width: 8px;
}

.vendor-info h6::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.vendor-info h6::-webkit-scrollbar-thumb {
  background-color:$red;
}



.vendor-info {
  height: 180px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.producer-img-container img {
  border-radius: 5px;
  height: 180px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.info-container h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  opacity: 0.9;
}

.info-container h2 {
  margin-top: 0px;
  margin-bottom: 0px
}


//-----------------------------------------------------
.add-to-cart{
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.add-to-cart:hover {
  color: white;
}

.quantity-container h5{
  margin-top: 20px;
}

.quantity-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}


.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.btn-plus {
  font-size: 35px;
  color: #729d39;
  border: none;
}

.btn {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.fa-minus-circle {
  font-size: 35px;
  color: #729d39;
}

.btns-input {
  display: flex;
  margin: 0 auto;
  line-height: 50px;
  width: 200px;
}

.input-space {
  font-weight: bold;
  padding-top: 15px;
}

.number-input.number-input input[type=number] {
font-weight: bold;
color: $red;
border: none;
background-color: #4d4d4d;
}
#order_item_quantity {
  color:$red;
  width: 45px;
}
#order_item_quantity::-webkit-outer-spin-button,
#order_item_quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//----------------------------------------------MAPBOX

.mapboxgl-canvas {
  margin-top: 20px;
  border-radius: 5px;
}

//----------------------------------------------REVIEW IN SHOW PAGE
.card-review-show {
display: flex;
}

#review-collapsible{
  background-color: #F9FCFB;
}
#background-review{
background-color: #F9FCFB;
}

.content-field{
  flex-grow: 3;
}

.new-review-wrapper {
  gap: 15px;
}
.color-btn-review {
 background-color: #da4302;
 color:white;
 border-radius: 10px;
}
.collapsible-button{
  padding-top: 15px;
}
.date-review{
  font-size: 10px;
}
.product-header {
  font-size: 30px;
  line-height: 30px;
  max-width: 350px;

}