
.info-container {
  margin-left: 40px
}

.more-products h1 {
  margin: 50px
}

.grid-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 70px;
}

//------------------------------------------------------
.nav-tabs .nav-link.active {
  color: #fd5e53;
  border-top-color: #fd5e53;
  border-left-color: #fd5e53;
  border-right-color: #fd5e53;
  font-weight: bold;
}

.nav-tabs {
  border-color: #fd5e53;
}

.nav-tabs .nav-link {
  color: lightgray;
  font-weight: bold;
}


//---------------------------------------------------
.color-vendor {
  color: #fd5e53;
}


.product-container {
  display: flex;
  padding-top: 25px
}

.carousel-item img {
  border-radius: 10px;
  height: 400px;
}

.producer-img-container img {
  border-radius: 10px;

  width: 500px;
}

.info-container p{
  margin-top: 20px
}

.info-container h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.info-container h2 {
  margin-top: 0px;
  margin-bottom: 0px
}

//-----------------------------------------------------
.add-to-cart{
  position:absolute;
  left: 0px;
  top: 50px;
}
.def-number-input{
  display: flex;
  position: absolute;
  left: 50px;
  top: -7px;
}
.quantity-container h6{
  margin-top: 20px;
}

.quantity-container{
  position: relative;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 1px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input.number-input {
width: 10rem;
border-radius: .25rem;
}

.number-input.number-input button {
width: 40px;
height: 40px;
border-style: none;
border-radius: 3px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: 2rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 45px;
padding: 1rem;
font-size: 1rem;
height: 40px;
color: #495057;
border-radius:3px
}


//----------------------------------------------

