<div class="banner">
    <div class="container">
        <div class="banner-text">
            <h1>Eat fresh, local, and responsible.</h1>
            <p>Join us in making cities more sustainable.</p>
            <p class='see-all-products'><%= link_to "See all products", root_path %></p>
        </div>
    </div>
</div>


<div class="container slick-container">
    <div class="items">
        <div class='category-slick'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
        <div class='category'>content</div>
    </div>
</div>

<div class="secondary-banner">
    <h2>Our local promise</h2>
    <p>Conscious of environmental issues and the concerns of our customers, 
    we are constantly developing our range of fruits and vegetables, 
    notably by offering an extensive range of locally sourced produce.
     As a member of Kenya Organic Agriculture Network (KOAN) we support organic certified small holder farmers by providing a market for their produce giving them fair pricing to encourage produce sustainability.</p>
</div>

