<div class="banner">
    <div class="container">
        <div class="banner-text">
            <h1>Eat fresh, local, and responsible.</h1>
            <p>Join us in making cities more sustainable.</p>
            <p class='see-all-products'><%= link_to "See all products", products_path %></p>
        </div>
    </div>
</div>


<div class="container slick-container">
    <p>Category:</p>
    <div class="items">
        <% Product::CATEGORIES.each do |category|  %>
          <a class='icon' href='/products?search=<%= category %>'>
          <div class="category-card-sidebar" style="background-image: url(<%= asset_path("#{category.downcase.tr(" ","_")}.png") %>)"></div>
          <p class="category-name"> <%= category %> </p>
          </a>
        <% end %>
    </div>
</div>

<div class="secondary-banner">
    <div class="container">
        <h2>Our local promise</h2>
        <p>Conscious of environmental issues and the concerns of our customers, 
        we are constantly developing our range of fruits and vegetables, 
        notably by offering an extensive range of locally sourced produce.
        We support organic certified small holder farmers by providing a market 
        for their produce giving them fair pricing to encourage produce sustainability.</p>
    </div>
</div>

<div class="container cont-label">
    <div class="card-label">
        <div class="label"><i class="fas fa-seedling"></i></div>
        <h2>100% Organic</h2>
        <p> Our products are farm fresh and 100% Organic </p>
    </div>    
    <div class="card-label">
        <div class="label"><i class="fas fa-shield-alt"></i></div>
        <h2>Secure Online Payment</h2>
        <p>Order payments on our site are encrypted and handled directly by Mastercard or Visa.</p>
    </div>  
    <div class="card-label">
        <div class="label"><i class="fas fa-headset"></i></div>
        <h2>Customer Support</h2>
        <p>Our Team is Ready to Help you with any Problems or Questions</p>
    </div>  
</div>