/*  First banner  */

.banner {
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%), image-url("bg4.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.banner-text {
    padding: 150px 0px;
}

.banner-text h1, 
.banner-text p {
    font-weight: bold;
    color: $light-gray;
}

.banner-text h1 {
    letter-spacing: 2px;
    font-size: 3em;
}

.banner-text p {
    font-size: 1.4em;
    letter-spacing: 2px;
}

.banner-text p:nth-child(3) {
    margin-top: 50px;
}
.banner-search {
    margin-top: 10px;
    position: relative;
    width: 600px;
    border: none;
    outline: none;
}
.marker-banner {
    position: absolute;
    right: 50px;
}
.marker-banner > .fas {
    font-size: 25px;
    padding: 5px;
}
.loc-input-banner {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
    background-color:  #ffffff;
    font-size: 20px;
    border: none;
    outline: none;
}

.loc-input-banner::placeholder {
    color: rgb(0, 0, 0);
}

.search-btn-banner {
    position: absolute;
    right: 0px;
    height: 100%;
    border-radius: 0 5px 5px 0px;
    width: 50px;
    background-color:$red;
    outline: none;
    border: none;
    &:focus {
        outline:none;
    }
}

.search-banner > .fas {
    color: white;
    font-size: 20px;
}

.icon-banner-loc {
    color: $red;
}

/*  Second banner*/

.secondary-banner {
    display: flex;
    background: rgba(53,180,24,1);
    height: 600px ;
    color: white;
    width: 100%;
}

.secondary-banner-img {
    background:  linear-gradient(90deg, rgba(114,157,57,0) 0%, rgba(53,180,24,1) 100%), image-url("secondary-banner.jpg");
    width: 60%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.secondary-banner-text {
    width: 40%;
    padding: 40px;
    margin: 40px 0px;
}

.secondary-banner-text-title {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    font-weight: bold;
}

.secondary-banner p {
    font-size: 1.3em;
    width: 55%;
}

/* Banner label */

.cont-label {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px ;
}

.label {
    width: 70px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 50%;
    text-align: center;
    margin: 30px auto;

}

.label .fas {
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    opacity: 0.5;
}

.card-label p {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    opacity: 0.7;
    font-size: 1.2em;
}

.card-label h2 {
    font-size: 1.4em;
    font-weight: bold;
    opacity: 0.8;
}

.card-label {
    margin-top: 50px;
}