

/* NAV BTN */

.sign-in-btn a,
.sign-up-btn a,
.sign-out-btn a,
.dashboard a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.banner-text p a {
    background-color: $red;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    font-weight: normal;
}