.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav > .container {
  display: flex;
  justify-content: space-between;

}

nav {
  height: 70px;
  -webkit-box-shadow:0px 1px 1px #808080;
  -moz-box-shadow:0px 1px 1px #787878;
  box-shadow:0px 1px 1px #808080;
  letter-spacing: 1px;
}

.logo a {
  line-height: 70px;
  text-decoration: none;
  font-size: 35px;
  color: black;
}
.btn-container {
  display: flex;
}
.btn-container p  {
  line-height: 70px;
  margin: 0 10px;
}
.search {
  line-height: 50px;
}

.fa-shopping-cart  {
  line-height: 70px;
  color: black;
  margin: 0 0 0 10px;
}