
.nav1 > .container {
  display: flex;
  justify-content: space-between;

}

.nav1 {
  background-color: $light-gray;
  height: 70px;
  -webkit-box-shadow:0px 1px 1px #b3b3b3;
  -moz-box-shadow:0px 1px 1px #c9c9c9;
  box-shadow:0px 1px 1px #c6c6c6;
  letter-spacing: 1px;
}

.logo a {
  line-height: 70px;
  text-decoration: none;
  font-size: 35px;
  color: black;
}
.btn-container {
  display: flex;
}
.btn-container p  {
  line-height: 70px;
  margin: 0 10px;
}
.search {
  line-height: 50px;
}

.fa-shopping-cart  {
  line-height: 70px;
  color: black;
  margin: 0 0 0 10px;
}