.show-rate-box .rate-stars-box {
    font-size: 18px;
    min-width: 120px;
}

.container-name-stars {
    display: flex;
    justify-content: space-between;
  }
  .container-name-stars > div {
    line-height: 40px ;
  }