.show-rate-box > .fas,
.show-rate-box .text-muted:before,
.show-rate-box .fas:before {
  font-size: 20px;
}

.container-name-stars,
.container-producer-name-rating  {
  display: flex;
  justify-content: space-between;
}

.fa-star,
.fa-star:before {
  font-size: 12px;
  color: #729D39
}

.container-producer-name-rating > div,
.container-name-stars > div {
  line-height: 40px;
}
