.slick-container {
    height: 300px;
    padding-top: 50px;
}

.slick-container p {
    color: $red;
}

.category div {
    background-color: blue;
    width: 70px;
    height: 70px;
}

.slick-prev:before {
    content: "<";
    color: rgb(0, 0, 0) !important;
    font-size: 30px;
    opacity: 1 !important;
}

.slick-next:before {
    content: ">";
    color: rgb(0, 0, 0) !important;
    font-size: 30px;
    opacity: 1 !important;

}

.items {
    margin: 50px;
}
.category small {
    padding: 5px;
}