.slick-container {
    padding: 90px 0px;
    height: 300px;
}

.slick-container p {
    color: $red;
}

.slick-prev:before {
    content: "<";
    color: rgb(0, 0, 0) !important;
    font-size: 30px;
    opacity: 1 !important;
}

.slick-next:before {
    content: ">";
    color: rgb(0, 0, 0) !important;
    font-size: 30px;
    opacity: 1 !important;
}

.category-card {
    margin: 0 auto;
    height: 90px !important;
    width: 90px !important;
    background-size: cover;
    background-position: center;
}

.icon {
    text-decoration: none;
}
.icon:hover {
    text-decoration: none;
}
