<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-review">
        <%= simple_form_for([@product, @review]) do |f| %>
          <div class="d-flex justify-content-between align-items-end new-review-wrapper">
            <div class="content-field">
              <%= f.input  :content, wrapper_html: { class: 'mb-0' } %>
            </div>
            <div class="rating-field">
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", wrapper_html: { class: 'mb-0' } %>
            </div>
            <%= f.submit class: 'btn color-btn-review'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

